<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Management</title>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            rel="stylesheet">

        <link rel="stylesheet" href="book.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Library Management</h1>
                <div class="profile">
                    <img src="mayuri.jpg" alt="User Profile">
                    <div>
                        <p>Mayuri Tupe</p>
                        <span>Librarian</span>
                    </div>
                </div>
            </div>

            {% if members or books %}
            <div class="tabs">
                <button class="active">Books</button>
                <button>Members</button>
                <button>Transactions</button>
            </div>
        </div>

            <!-- <div class="search-bar">
            <input type="text" placeholder="Search for book name, member name, etc.">
         <i class="fas fa-search"></i> 
        </div> -->

            <div class="search-bar">
                <div class="search-container">
                    <!-- <i class="fas fa-search"></i> -->
                    <input type="text" id="searchInput"
                        placeholder="Search for book name, member name, etc.">
                    <button onclick="searchItems()"
                        id="search-btn">Search</button>
                    <div id="info"></div>
                </div>

            </div>
            <div>
                <button id="importBooksBtn">Import Books</button>
            </div>

            {% endif %}

            {% if books %}
            <div class="section">
                <h2>Book List</h2>
                <table class="table" id="bookTable">
                    <thead>
                        <tr>
                            <th name="title">Book Title</th>
                            <th name="book_id">Book ID</th>
                            <th name="author">Author</th>
                            <th name="isbn">ISBN Number</th>
                            <th name="publisher">Publisher</th>
                            <th name="stock_quantity">Stock Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in books %}
                        <tr>
                            <td name="title">{{ j.title }}</td>
                            <td name="book_id">{{ j.book_id }}</td>
                            <td name="author">{{ j.author }}</td>
                            <td name="isbn">{{ j.isbn }}</td>
                            <td name="publisher">{{ j.publisher }}</td>
                            <td name="stock_quantity">{{ j.stock_quantity
                                }}</td>
                            <td class="action">
                                <button class="editBtn">Edit</button>
                                <button class="deleteBtn">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="http://library.localhost:8001/books-/new"><button
                        id="addBooksBtn">Add Books</button></a>
            </div>
            {% endif %}

            {% if members %}
            <div class="section">
                <h2>Member List</h2>
                <table class="table" id="memberTable">
                    <thead>
                        <tr>
                            <th name="full_name">Member Name</th>
                            <th name="member_id">Member ID</th>
                            <th name="email">Email</th>
                            <th name="phone_number">Phone</th>
                            <th name="outstanding_debt">Outstanding Debt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in members %}
                        <tr>
                            <td name="full_name">{{ i.full_name }}</td>
                            <td name="member_id">{{ i.member_id }}</td>
                            <td name="email">{{ i.email }}</td>
                            <td name="phone_number">{{ i.phone_number }}</td>
                            <td name="outstanding_debt">{{ i.outstanding_debt
                                }}</td>
                            <td class="action">
                                <button class="editBtn">Edit</button>
                                <button class="deleteBtn">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a
                    href="http://library.localhost:8001/library-members/new"><button
                        id="addMemberBtn">Add Member</button></a>
            </div>
            {% endif %}

            {% if issued_books %}
            <div class="section">
                <h2>Issued Books</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Book Title</th>
                            <th>Book ID</th>
                            <th>Member Name</th>
                            <th>Member ID</th>
                            <th>Issued Date</th>
                            <th>Return Date</th>
                            <th>Rent Fee</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in issued_books %}
                        <tr>
                            <td>{{ k.title }}</td>
                            <td>{{ k.book_id }}</td>
                            <td>{{ k.full_name }}</td>
                            <td>{{ k.member_id }}</td>
                            <td>{{ k.issue_date }}</td>
                            <td>{{ k.return_date }}</td>
                            <td>{{ k.rent_fee }}</td>
                            <td>{{ k.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="http://library.localhost:8001/issue-book/new"><button
                        id="addIssueBtn">Issue Book</button></a>
            </div>
            {% endif %}

            {% if return_books %}
            <div class="section">
                <h2>Return Books</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Book ID</th>
                            <th>Member Name</th>
                            <th>Member ID</th>
                            <th>Issued Date</th>
                            <th>Return Date</th>
                            <th>Rent Fee</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in return_books %}
                        <tr>
                            <td>{{ k.title }}</td>
                            <td>{{ k.book_id }}</td>
                            <td>{{ k.full_name }}</td>
                            <td>{{ k.member_id }}</td>
                            <td>{{ k.issue_date }}</td>
                            <td>{{ k.return_date }}</td>
                            <td>{{ k.rent_fee }}</td>
                            <td>{{ k.status }}</td>
                            <td>
                                {% if k.status != "Returned" %}
                                <button class="returnBtn"
                                    data-book-id="{{ k.book_id }}"
                                    data-member-id="{{ k.member_id }}">Mark as
                                    Returned</button>
                                {% else %}
                                Returned
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <script src="book.js"></script>
        </body>
    </html>
