<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Library Management</h1>
            <div class="profile">
                <img src="mayuri.jpg" alt="User Profile">
                <div>
                    <p>Mayuri Tupe</p>
                    <span>Librarian</span>
                </div>
            </div>
        </div>

        
        <div class="tabs">
            <button class="active">All</button>
            <button>Books</button>
            <button>Members</button>
            <button>Transactions</button>
        </div>

        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search for book name, member name, etc.">
            <button onclick="searchItems()" id="search-btn">Search</button>
            <button id="importBooksBtn">Import Books</button>
        </div>
        

        <!-- Book List Section -->
        
        <div class="section" id="bookList">
            <h2>Book List</h2>
            <div class="table-container">
                <table class="table" id="bookTable">
                    <thead>
                        <tr>
                            <th name="title">Book Title</th>
                            <th name="book_id">Book ID</th>
                            <th name="author">Author</th>
                            <th name="isbn">ISBN Number</th>
                            <th name="number_of_pages">Pages</th>
                            <th name="publisher">Publisher</th>
                            <th name="stock_quantity">Stock Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in books %}
                        <tr>
                            <td name="title">{{ j.title }}</td>
                            <td name="book_id">{{ j.book_id }}</td>
                            <td name="author">{{ j.author }}</td>
                            <td name="isbn">{{ j.isbn }}</td>
                            <td name="number_of_pages">{{ j.number_of_pages }}</td>
                            <td name="publisher">{{ j.publisher }}</td>
                            <td name="stock_quantity">{{ j.stock_quantity }}</td>
                            <td class="action">
                                <button class="editBtn">Edit</button>
                                <button class="deleteBtn">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="http://library.localhost:8001/books-/new"><button id="addBooksBtn">Add Books</button></a>
        </div>
        

        <!-- Member List Section -->
        
        <div class="section" id="memberList">
            <h2>Member List</h2>
            <div class="table-container">
                <table class="table" id="memberTable">
                    <thead>
                        <tr>
                            <th name="member_id">Member ID</th>
                            <th name="full_name">Member Name</th>
                            <th name="email">Email</th>
                            <th name="phone_number">Phone</th>
                            <th name="outstanding_debt">Outstanding Debt</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in members %}
                        <tr>
                            <td name="member_id">{{ i.member_id }}</td>
                            <td name="full_name">{{ i.full_name }}</td>
                            <td name="email">{{ i.email }}</td>
                            <td name="phone_number">{{ i.phone_number }}</td>
                            <td name="outstanding_debt">{{ i.outstanding_debt }}</td>
                            <td class="action">
                                <button class="editBtn">Edit</button>
                                <button class="deleteBtn">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="http://library.localhost:8001/library-members/new"><button id="addMemberBtn">Add Member</button></a>
        </div>
        

        <!-- Issued Books Section -->
        <div class="section" id="issuedBooks">
            <h2>Issued Books</h2>
            <div class="table-container">
                <table class="table" id="issueTable">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Book Title</th>
                            <th>Book ID</th>
                            <th>Member Name</th>
                            <th>Member ID</th>
                            <th>Issued Date</th>
                            <th>Due Date</th>
                            <th>Rent Fee</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in issued_books %}
                        <tr>
                            <td>{{ k.name }}</td>
                            <td>{{ k.title }}</td>
                            <td>{{ k.book_id }}</td>
                            <td>{{ k.full_name }}</td>
                            <td>{{ k.member_id }}</td>
                            <td>{{ k.issue_date }}</td>
                            <td>{{ k.due_date }}</td>
                            <td>{{ k.rent_fee }}</td>
                            <td class="action">
                                <button class="btn-return" onclick="">Mark As Returned</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="http://library.localhost:8001/issue-book/new"><button id="addIssueBtn">Issue Book</button></a>
        </div>

        <!-- Return Books Section -->
        
        <div class="section" id="returnBooks">
            <h2>Return Books</h2>
            <div class="table-container">
                <table class="table" id="returnTable">
                    <thead>
                        <tr>
                            <th>Book</th>
                            <th>Book ID</th>
                            <th>Member Name</th>
                            <th>Member ID</th>
                            <th>Issued Date</th>
                            <th>Due Date</th>
                            <th>Return Date</th>
                            <th>Fine</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in return_books %}
                        <tr>
                            <td>{{ k.title }}</td>
                            <td>{{ k.book_id }}</td>
                            <td>{{ k.full_name }}</td>
                            <td>{{ k.member_id }}</td>
                            <td>{{ k.issue_date }}</td>
                            <td>{{ k.due_date }}</td>
                            <td>{{ k.return_date }}</td>
                            <td>{{ k.fine }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <script src="website.js"></script>
</body>
</html>
